<%= render 'main/header' %>

<h1>Category Posts</h1>

<% Article.joins(:likes).select('articles.*, COUNT(likes.id) as lc').group('article_id').order('lc DESC').where(category_id: @category.id).each do |article| %>
  <strong><%= link_to article.title, article_path(article) %></strong>
    <p>[<%= link_to Category.find(article.category_id).name, category_path(article.category_id) %>] Likes: <%= article.likes.count %> Dislike: <%= article.dislikes.count %> </p>
    Posted on <%= article.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%B %d %H:%M") %> by <%= link_to article.author, user_path(article.author) %>
    <br>
    <% if current_user && (current_user.username == article.author || current_user.is_admin) %>
      <%= link_to 'Edit', edit_article_path(article) %> /
      <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'You are about to delete this post. Are you sure?' } %><br>
    <% end %><br>
<% end %>

<%= link_to 'Back', root_path %>