<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- If new record: Any logged in user, If edit record: must be admin or original author -->
  <% if (@article.new_record? && current_user) || (@article.persisted? && (current_user && (current_user.username == @article.author || current_user.is_admin))) %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= select_tag(:category_id, options_for_select(@categories), :selected => "General") if @article.new_record? %>
      <%= select_tag(:category_id, options_for_select(@categories), :selected => :category_id) if @article.persisted? %>
    </p>
      <%= form.hidden_field :author, value: current_user.username, readonly: true if @article.new_record? %>
      <%= form.hidden_field :time, value: Time.now, readonly: true if @article.persisted? %>
      <%= form.hidden_field :edit, value: current_user.username, readonly: true if @article.persisted? %>
    <p>
      <%= form.submit %>
    </p>
  <% else %>
    You do not have permission for this post.
  <% end %>
 
<% end %>