<h1>
  <strong><%= @article.title %></strong>
</h1>

<p>
  Posted by <strong><%= @article.author %></strong>
  on <strong><%= @article.time %></strong>
  <% if @article.created_at != @article.updated_at %>
  	<br>Updated by <strong><%= @article.author %></strong> on <strong><%= @article.updated_at %></strong>
  <% end %>
</p>

<p>
  <%= @article.text %>
</p>
<%= button_to 'Like', article_likes_path(@article), method: :post %>
<%= @article.likes.count %>

<%= link_to 'Back', root_path %>
