<% if current_user %>
  Logged in as <%= current_user.username %>
  <% if current_user.is_admin %>
    (ADMIN ACCOUNT)
  <% end %>
  <%= link_to "Log Out", logout_path %>
  <br>
  Points remaining:  <%= current_user.score %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>

<p id=”notice”><%= notice %></p>

<h1>Store(DEBUG PAGE)</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>testStoreItem</td>
        <td>This is a test item</td>
        <td>1</td>
		
		<% if current_user && current_user.store_items.any?{|item| item.name = "testStoreItem"}  %>
			<td><b>You already own this</b></td>
		<% elsif current_user%>
			<td><%= button_to 'Buy Item', buy_path(:name => "testStoreItem", :description => "This is a test item", :cost => 1) %></td>
		<% else %>
			<td><b>Login to purchase</b></td>
		<% end %>
      </tr>
  </tbody>
</table>
<br>

<% if current_user %>
<h2>You already own:</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<% current_user.store_items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= item.description %></td>
			<td><%= item.cost %></td>
		</tr>
	<% end %>
  </tbody>
</table>
<% end %>



<br>
<%= link_to 'Back', root_path %>

