

<%= render 'main/header' %>

<header class="container">
    <div class="container-fluid">
	
	<% if @user %>
	<p id="notice"><%= notice %></p>

	<p>
	  <h1><% if @user.is_admin %> [Admin] <% end %>
	  <strong><%= @user.username %></strong></h1>
	</p>

	<p>
	  <%= image_tag(@user.avatar.url, alt: 'Image') if @user.avatar? %>
	</p>

	<p>
	  <%= @user.email %>
	</p>

	<p>
	  <strong>Score:</strong>
	  <%= @user.score %>
	</p>

	<p>
	  <strong>About Me:</strong><br>
	  <% if @user.about.present? %>
		<%= @user.about %>
	  <% else %>
		This user has not created an about me section.
	  <% end %>
	</p>

	<% if current_user && current_user.is_admin %>
	  <%= link_to 'Ban User', user_path(@user), method: :delete, data: { confirm: 'You are about to ban this user. This action cannot be undone. Are you sure?' } %> |
	<% end %>

	<% if current_user == @user %>
	  <%= link_to 'Edit', edit_user_path(@user) %> |
	<% end %>
	<%= link_to 'Back', root_path %>

	<h2>Post History</h2>
	<table>
		<% Article.all.each do |article| %>
			<% if article.author == @user.username %>
		   <div id="corners">
				<strong><%= link_to article.title, article_path(article) %></strong>
			  <p>Posted on <%= article.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%B %d %H:%M") %></p>
			  <% if current_user && (current_user.username == article.author || current_user.is_admin) %>
				  <p><%= link_to 'Edit', edit_article_path(article) %> /
				  <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'You are about to delete this post. Are you sure?' } %></p>
			  <% end %>
			<br>
			<%end %>
		</div>
		<% end %>
	  </table>

	<% else %>
	<p> Could not load user profile</p>
	<%= link_to 'Back', root_path %>
	<% end %>

    </div>
</header>	