<header class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if current_user %>
          Logged in as <%= link_to current_user.username, user_path(current_user) %>
        <% else %>
          Not logged in.
        <% end %>
        <% if current_user && current_user.is_admin %>
          <%= link_to 'Admin Page', users_path %>
        <% end %>
          <%= link_to 'Cosmetic Items Store', store_path %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <%= link_to 'Blacklist', blacklist_path %>
          <%= link_to 'Inbox', conversations_path %>
          <%= link_to "Edit profile", edit_user_path(current_user) %>
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", signup_path %> or 
          <%= link_to "Log In", login_path %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>