<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <!----------------------------- Navigation Bar ------------------------------>
  <%= render 'header' %>
  <!----------------------------- Navigation Bar ------------------------------>


  <!----------------------------- Show posts ---------------------------------->
  <p id=”notice”><%= notice %></p>
  <h1>Listing Articles</h1>
  <% if current_user %>
    <%= link_to 'Create a new post', new_article_path %>
  <% else %>
    <%= link_to 'Login to create a new post', login_path %>
  <% end %><br><br>
  <table>
    <% @articles.each do |article| %>
        <strong><%= link_to article.title, article_path(article) %></strong>
      <br>
        Posted on <%= article.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%B %d %H:%M") %> by <%= article.author %>
      <br>
      <% if current_user && (current_user.username == article.author || current_user.is_admin) %>
          <%= link_to 'Edit', edit_article_path(article) %> / 
          <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'You are about to delete this post. Are you sure?' } %><br>
      <% end %>
      <br>
    <% end %>
  </table>
  <%= link_to 'List of Users', users_path %>
  <!----------------------------- Show posts ---------------------------------->
</html>
